:host {
  display: inline-block;
}

.trigger-container {
  display: inline-block;
}

.content-container {
  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  background: inherit;
  white-space: nowrap;
}
