<div>
  <div class="trigger-container" #triggerContainer>
    <ng-content select="[ngpTrigger]"></ng-content>
  </div>

  <div class="content-container" #labelContainer [style.float]="contentFloat()" ngpContentHolder>
    <ng-content select="[ngpLabel]"></ng-content>
  </div>

  <div class="content-container" #contentContainer [style.float]="labelFloat()" ngpContentHolder>
    <ng-content select="[ngpContent]"></ng-content>
  </div>
</div>
